<%- include layouts/header.ejs %>
<h1 class="title" id="page-title">Executing program</h1>
<table>
    <tr>
        <th width="50px">Id</th>
        <th>Name</th>
        <th>Script</th>
        <th>Comment</th>
        <th>Arg</th>
    </tr>                 
    <tr>
        <td><%- data.Id%></td>
        <td><%- data.Name%></td>
        <td><%- data.Script%></td>
        <td><%- data.Comment%></td>
        <td><%- arg%></td>
    </tr>
</table>
<br>
<h1 class="title" id="page-title">STDOUT</h1>
<pre>
<%- stdout%>
</pre>
<br>
<h1 class="title" id="page-title">STDERR</h1>
<pre>
<%- stderr%>
</pre>
<br>
<%- include layouts/footer.ejs %>