<%- include layouts/header.ejs %>

<table>
    <tr>
        <th width="50px">Id</th>
        <th>Name</th>
        <th>Script</th>
        <th>Comment</th>
        <th>Arg</th>
    </tr>                 
    <tr>
        <td><%- data.Id%></td>
        <td><%- data.Name%></td>
        <td><%- data.Script%></td>
        <td><%- data.Comment%></td>
        <td><%- arg%></td>
    </tr>
</table>
<br>
<pre>
<%- stdout%>
</pre>

<%- include layouts/footer.ejs %>