<%- include layouts/header.ejs %>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Script</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td><%- data.Id%></td>
        <td><%- data.Name%></td>
        <td><%- data.Script%></td>
        <td><%- data.Comment%></td>
    </tr>
</table>

<%- include layouts/footer.ejs %>
